<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Page Flipper - Club Edit</title>
</head>
<body>
    {{>header}}
    {{>navBar}}
    <div class="main-content">
        <div class="club-edit-content">
            <div class="club-img">
                <img src="{{club.clubIconUrl}}" alt="">
            </div>
            <div class="club-data">
                <form action="/club/{{club.clubId}}/update" method="post" class="club-edit-form">
                    <div class="club-edit-field">
                        <label for="clubName">Club Name: </label>
                        <input type="text" name="clubName" value="{{club.clubName}}">
                    </div>
                    <div class="club-edit-field">
                        <label for="clubName">Club Description: </label>
                        <textarea type="text" name="clubDesc">{{club.clubDesc}}</textarea>
                    </div>
                    <div class="club-edit-field">
                        <label for="clubIconUrl">Club Icon URL: </label>
                        <input type="text" name="clubIconUrl" value="{{club.clubIconUrl}}">
                    </div>
                    <div class="club-edit-form-buttons">
                        <button type="submit">Update</button>
                        <button type="button" onclick="window.history.back()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>