<div class="club-list">
    <div class="club-list-title">Your Book Clubs</div>
    <div class="club-grid">
        {{#each clubs}}
            <a href="/club/{{club_id}}">
                <div class="club">
                    <div class="club-icon">
                        <img src="{{club_icon_url}}" alt="">
                    </div>
                    <div class="club-metadata">
                        <div class="club-name">{{club_name}}</div>
                        <div class="club-description">{{club_desc}}</div>
                        <div class="club-role">Role: {{club_role}}</div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>