<div class="club-list">
    <div class="club-list-title">Your Book Clubs</div>
    <div class="club-grid">
        {{#each clubs}}
            <a href="/club/{{clubId}}">
                <div class="club">
                    <div class="club-icon">
                        <img src="{{clubIconUrl}}" alt="">
                    </div>
                    <div class="club-metadata">
                        <div class="club-name">{{clubName}}</div>
                        <div class="club-description">{{clubDesc}}</div>
                        <div class="club-role">
                            {{#if isAdmin}}
                                <img src="https://img.shields.io/badge/ROLE-ADMIN-brightgreen" alt="">
                            {{else}}
                                <img src="https://img.shields.io/badge/ROLE-MEMBER-blue" alt="">
                            {{/if}}
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>